<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}GamersPlace - Twoje miejsce dla graczy{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" />
        {% endblock %}
    </head>
    <body>
        {% block body %}
                    <div id="logo">
                    </div>
                    <div id="menubar">
                        <ul class="menu">
                            <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
                            <li class=""><a href="{{ url('homepage') }}">Strona Główna</a></li>
                            <li class=""><a href="{{ url('newspage') }}">Newsy</a></li>
                        </ul>
                        <ul class="menu" id="menu_login">
                            {% if not is_granted('ROLE_USER') %}
                                <li><a href="{{ url('user_login') }}">Zaloguj</a></li>
                                <li><a href="{{ url('user_registration') }}">Zarejestruj</a></li>
                            {% else %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li><a href="{{ url('adminpage') }}">Panel admina</a></li>
                                    {% endif %}
                                <li><a href="{{ url('userpage') }}">Panel użytkownika</a></li>
                                <li><a href="{{ url('logout') }}">Wyloguj</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div id="site_content">
                    <div id="sidebar_container">
                        {% block userpanel %}
                        {% if is_granted('ROLE_USER')  %}
                        <div class="sidebar">
                            <div class="sidebar_top">
                                <h3>Panel Użytkownika</h3>
                            </div>
                            <div class="sidebar_item" id="panel">
                                Witaj {{ username }}!
                                <br /><br />
                                <a href="{{ url('user_change-password') }}">Zmień hasło</a><br />
                                <a href="{{ url('user_change-email') }}">Zmień e-mail</a>
                            </div>
                        </div>
                        {% endif %}
                        {% endblock %}
                        <div class="sidebar">
                            <div class="sidebar_top">
                                <h3>Tytuł</h3>
                            </div>
                            <div class="sidebar_item">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo consequat.
                            </div>
                        </div>
                        <div class="sidebar">
                            <div class="sidebar_top">
                                <h3>Tytuł</h3>
                            </div>
                            <div class="sidebar_item">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo consequat.
                            </div>
                        </div>
                    </div>
                    <div id="content_container">
                        <div id="content_header">{% block content_header %}<h3>Strona Główna</h3>{% endblock %}</div>
                        <div id="content">
                            {% block content %}
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            {% endblock %}
                        </div>
                    </div>
                </div>
                <div id="footer">
                    <div id="footer_content">
                    <p><a href="{{ url('homepage') }}">Strona Główna</a> | <a href="{{ url('newspage') }}">Newsy</a></p>
                    <p>Copyright &copy; GamePlace 2018</p>
                    </div>
                </div>
        {% endblock %}
    </body>
</html>