{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/form.css" type="text/css"/>
{% endblock %}

{% block content_header %}<h3>Zmień hasło</h3>{% endblock %}
{% block content %}
    {{ form_start(form) }}
    <div id="form">
        <div id="password">
            <div id="first">
                {{ form_label(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first) }}
            </div>
            <div id="second">
                {{ form_label(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second) }}
            </div>
            {{ form_errors(form.plainPassword) }}
        </div>
        <div id="submit">
            <button type="submit">Zmień hasło</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}