{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/news.css" type="text/css"/>
{% endblock %}

{% block content_header %}<h3>News</h3>{% endblock %}
{% block content %}
    <div id="news">
    {% for new in news|reverse %}
        <div id="new">
            <div id="title">
                <h4><a href="{{ new.titleRaw }}">{{ new.title }}</a></h4>
            </div>
            <div id="text">
                {% if new.text|length > 60 %}
                    {{ new.text|slice(0, 255) }}...
                {% else %}
                    {{ new.text }}
                {% endif %}
            </div>
            {% if is_granted('ROLE_ADMIN')  %}
                <div id="button">
                <a href="/news/delete/{{ new.titleRaw }}" class="button" id="delete">Usuń</a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    {% if is_granted('ROLE_ADMIN')  %}
        <a href="/news/add" class="button" id="add">Dodaj Newsa</a>
        {% endif %}
    </div>
{% endblock %}